<h1 mat-dialog-title>{{ action }} proyecto</h1>
<form [formGroup]="form" mat-dialog-content>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Horas</mat-label>
    <input type="number" matInput formControlName="duration" />
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Asignado a</mat-label>
    <mat-select formControlName="assignedTo">
      <mat-option [value]="user._id" *ngFor="let user of users$ | async">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="type">
      <mat-option value="Proyecto">Proyecto</mat-option>
      <mat-option value="Tarea">Tarea</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()">Guardar</button>
</div>
